<!DOCTYPE html>

<html xmlns:th="http://www.thymleaf.org">

<nav th:replace="layouts :: header"></nav>

<body>

<nav th:replace="layouts :: navbar"></nav>

<br>
	
	<div class="container">
		
		<h4 class="text-muted">Fill the informations of the patient</h4>
		<br>
		<form th:action="@{/patients/save}"  th:object="${pati}" method="POST">
		
		<div class="form-group row">
		<input type="text" class="form-control" placeholder="Patient Id" th:field="${pati.patientId}"></input>
		</div>
		
		<div class="form-group row">
		<input type="text" class="form-control" placeholder="First Name" th:field="${pati.firstName}"></input>
		<span style="color: red" th:if="${#fields.hasErrors('firstName')}"th:errors="*{firstName}">
		</div>
		
		<div class="form-group row">
		<input type="text" class="form-control" placeholder="Last Name" th:field="${pati.lastName}"></input>
		<span style="color: red" th:if="${#fields.hasErrors('lastName')}"th:errors="*{lastName}">
		</div>
		
		<div class="form-group row">
		<input type="text" class="form-control" placeholder="Gender" th:field="${pati.gender}"></input>
		<span style="color: red" th:if="${#fields.hasErrors('gender')}"th:errors="*{gender}">
		</div>
		
		<div class="form-group row">
		<input type="text" class="form-control" placeholder="Phone" th:field="${pati.phone}"></input>
		<span style="color: red" th:if="${#fields.hasErrors('phone')}"th:errors="*{phone}">
		</div>
		
		
		<div class="form-group row">
		<input type="text" class="form-control" placeholder="Description" th:field="${pati.description}"></input>
		<span style="color: red" th:if="${#fields.hasErrors('description')}"th:errors="*{description}">
		</div>
		
		<div class="form-group row">
		<h6>Disease's name</h6>
		<select th:field="*{diseases}" class="form-control" multiple="multiple">
			<option th:each = "disease  : ${allDiseases}" 
					th:value = "${disease.diseaseId}"
					th:text = "${disease.name}">
			
			</option>
			<span style="color: red" th:if="${#fields.hasErrors('diseases')}"th:errors="${pati.diseases}">
		</select>
		</div>
		
	
		
		<div class="form-group row">
		<h6>Locations' sector</h6>
		<select th:field="*{locations}" class="form-control" multiple="multiple">
			<option th:each = "location  : ${allLocations}" 
					th:value = "${location.id}"
					th:text = "${location.sector}">
			
			</option>
			<span style="color: red" th:if="${#fields.hasErrors('locations')}"th:errors="*{locations}">
		</select>
		</div>
		
		
		<button class="btn btn-info col-2" type="submit">Enter Patient</button>
		
		</form>
	</div>
</body>